  /*General page features===========================================================================*/
body {background-color: #000001; background-image:url('http://www.elfractal.com/images/bg1.jpg'); color: white; font-family: "Arial";}

  /*Selects the fancy text style used for the site's name*/
.fancyfont {font-family: "Russo One", "Arial Rounded MT Bold", "Arial";}

  /*Encapsulates entire page*/
.bigdiv {width: 700px; margin: auto;}

  /*Link styling*/
.body A:link {color: #CCCCFF;}
.body A:visited {color: #CCCCFF;}
.body A:hover {color: #DDDDFF;}
.body A:active {color: #CCCCFF;}

  /*Basically, the "Empyreal Light" text on every page, plus the hyphen and space after it*/
.title {font-weight: bold; font-size: 30px;}
  /*This is the page title after the site title on the top-left corner of every page. Works in conjunction with "title"*/
.smaller {font-size: 25px; font-weight: normal;}
  /*This is the part of the title that is actually a link. Color is specific so it doesn't default to blue*/
.titlelink {color: #FFFFFF; text-decoration: none;}

  /*This is what defines the boxes that contain the material on every page. Variations are defined below*/
.content {width: 700px; border-style: solid; border-color: #AAAAAA; border-width: 1px; margin-bottom: 2px; margin-top: 2px;}
.top {background-color: #203333; background-image: url(http://www.elfractal.com/images/cyan_line.png); text-align: left; padding: 3px 5px;}
.navigation {background-color: #203320; background-image: url(http://www.elfractal.com/images/green_line.png); word-spacing: 30px; text-align: left; padding: 1px 5px;}
.VIP {background-color: #332033; background-image: url(http://www.elfractal.com/images/purple_line.png); word-spacing: normal; padding: 1px 5px;}
.body {background-color: #333333; padding: 5px; text-align: left; font-size: 14px;}
.content.special {background-color: #332020; background-image: url(http://www.elfractal.com/images/red_line.png); padding-bottom: 1px; padding-top: 1px; font-size: 10px; text-align: left;}

  /*Defines the links in the navigation bar*/
.navlink {font-size: 16px; color: white; font-weight: normal;}

  /*Defines links in the special bar including those relating to site font*/
.speciallink {color: inherit;}

  /*Really, just the header of a section, like, "E-mail the webmaster"*/
.section {font-weight: bold;}


  /*Specific page features==========================================================================*/

  /*This works in conjuntion with "content" to show the image on the index page*/
.intro {height: 400px; padding-left: 20px;}
  /*The two images that can be shown on the index, based on the particular cookie. Works in junction with content*/
.intro.standard {background-image: url('http://www.elfractal.com/images/entry_jpg.jpg');}
.intro.alt {background-image: url('http://www.elfractal.com/images/entry_jpg2.jpg');}
  /*"Empyreal Light" on index*/
.introtext {font-size: 48px; font-weight: bold; text-shadow: 2px 2px 1px #000000;}
  /*"Flame fractals by Ed Foley" on index*/
.introtextsmall {font-size: 20px; font-weight: normal; text-shadow: 2px 2px 1px #000000;}

  /*Works in conjunction with "content" to provide the box that houses the thumbnails (or just big fractal?) of the gallery*/
.gallery {text-align: center; padding: 0px; border-style: none; margin: 35px auto;}
  /*This is the text that displays under the preview picture when one is selected--the title and the sizes*/
.titletext {color: #FFFFFF; font-size: 14px; font-weight: bold;}
  /*This defines the preview image itself when shown. I think it had its power delegated to PHP constants on that page*/
.mainpic {border-style: ridge; border-color: #161616; border-width: 2px; margin: 7px 0px;}
  /*The link part only of the available sizes when a picture is selected*/
.sizelink {color: #CCCCFF; font-size: 14px; font-weight: bold;}
  /*For image gallery page browsing*/
.pnavbox {width: 700px; text-align: right; /*background-color: #333333; background-image: url(http://www.elfractal.com/images/dark_gray_line.png);  background-repeat: repeat-y; background-position: top right;*/ padding-left: 0px; padding-right: 0px; border-style: none; border-color: #FF0000; padding-bottom: 2px;}
.pnavtext {color: #FFFFFF; font-size: 14px; font-weight: bold; margin-left: 5px; margin-right: 5px;}
.pnavlink {color: #CCCCFF; font-size: 14px; font-weight: bold;}
.pnavleft {text-align: left;}
.pnavright {text-align: right;}
  /*Complex stuff*/
.gallerytable {width: 699px; border: 0px; border-style: solid; border-color: #AAAAAA; margin: 25px 0px; border-collapse: collapse; position:relative; left: 0px; /*background-color: #333333; background-image: url(http://www.elfractal.com/images/dark_gray_line.png);*/}
  /*The table cell the thumbnail is contained in*/
.thumbnailbox {text-align: center;}
  /*Defines the thumbnail itself*/
.thumbnail {padding: 0px; border: 1px; border-style: solid;}
.thumbnail.normal {border-color: #777777;}
.thumbnail.special {border-color: #CCCCCC;}
  /*"Page generated in x.xxx seconds*/
.gentime {color: #555555; font-size: 9px; text-align: center;}

  /*For the updates*/
.date {font-size: 12px; font-weight: normal;}
.update {font-size: 14px; margin-left: 24px; font-weight: normal;}

.expgrad {
  background: -moz-linear-gradient(0deg, #150040 0%, #4000BF 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #150040), color-stop(100%, #4000BF)); /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg, #150040 0%, #4000BF 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg, #150040 0%, #4000BF 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, #150040 0%, #4000BF 100%); /* ie10+ */
  background: linear-gradient(90deg, #150040 0%, #4000BF 100%); /* w3c */
}

  /*All obsolete styling==============================================================================
.browserbody {margin: 0px; padding: 0px;}
.chooser {background-color: #000000; white-space: nowrap; padding: 0px; border-spacing: 0px; border-color: blue; border-width: 1px; border-style: none;}
.chooserholder {background-color: #000000; padding: 0px; border: 1px; border-style: none; border-color: red;}
.browser {padding: 0px; border-spacing: 0px;}
.header {font-size: 20px; font-family: arial; text-align: center;}
.pictureholder {font-size: 12px; font-weight: normal; font-family: arial; padding: 0px; border-spacing: 2px; border: 1px; border-style: none; vertical-align: top;}
.pictureholdersliver {padding: 0px; border-width: 1px; border-style: none; border-color: yellow;}
.name {font-size: 10px; font-family: "arial narrow"; color: #FFFFFF}
.namelink {font-size: 12px; font-family: "arial"; color: #CCCCFF;}
div.placemat {}
  */
